html,body {
    width:100%;
    height:100vh;
    margin:0px;
}

#history {
    width:98%;
    font-size:15px;
    text-align: right;
}

#start_coding {
    margin-left:1%;
    font-size:20px;
    color:#bb0a28;
}

#code_area {
    height:350px;
    width: 98%;
    margin-left: 1%;
    margin-bottom: 5%;
    margin-top: 1%;
    text-align: left;
    float: left;
    box-shadow: -1px 1px 5px #888888;
}

#input {
    float: right; 
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 24%;
    height: 350px; 
    display: none;
    border-radius:2px; 
}

#username {
   color:#1ee688;
   font-weight: bold;
}

#saveAndRetrieve {
    width:100%;
    height:40px;
}

#save,#retrieve {
    font-size:12px;
    margin-right: 10px;
}

#lang {
    height:80%;
    width:10%;
    margin-left:1%;
}

#theme {
    height:82%;
    width:10%;
    margin-left:3%;
}

#outputtextarea {
    margin-top:20px;
    width:98%;
    height:200px;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow:auto;
}

label {
    width:200px;
}

img {
    position: absolute;
    margin-top:60px;
    margin-left:-140px;
}
