{% extends "page/base.html" %}

{% load staticfiles %}

{% block title %}Reset Password{% endblock %}

{% block body %}

<nav class='navbar navbar-default'>
    <div class="navbar-header">
        <a class="navbar-brand" href="\">apnaIDE</a>
    </div>
    <ul class="nav navbar-nav pull-right"> 
        <li><a href="post">Home</a></li> 
        <li><a href="logout">Logout</a></li>
    </ul>
</nav>

<center>
    <h2><mark>Reset password</mark></h2>

{% if error %}
    {{ error }}<br><br>
{% endif %}
<hr>
<form method="POST" style='margin-top:20vh'>{% csrf_token %}
    <div style='width:140px;display:inline-block'>Old password :</div> <input type="password" name="oldpass" value=""/><br><br>
    <div style='width:140px;display:inline-block'>New password :</div> <input type="password" name="newpass" value=""/><br><br>
    <div style='width:140px;display:inline-block'>Confirm password :</div> <input type="password" name="repass" value=""/><br><br>
    <input type="submit" class='btn btn-success' value="Change password"/>
</form>
</center>

{% endblock %}