<html>

<title>Reset Password | apnaIDE</title>

<body>

<h2>Reset password</h2>

{% if error %}
	{{ error }}<br><br>
{% endif %}

<form method="POST">{% csrf_token %}

	Old password : <input type="password" name="oldpass" value=""/><br><br>
	New password : <input type="password" name="newpass" value=""/><br><br>
	Confirm password : <input type="password" name="repass" value=""/><br><br>
	<input type="submit" value="Change password"/>

</form>

	<a href="post">Home</a><br>
	<a href="logout">Logout</a>

</body>


</html>