<html>

<head><title>Recent History | apnaIDE</title></head>

<body>
	<a href="post">Home</a><br>

	{% if user.is_authenticated %}
		<a href="logout">Logout</a><br>
	{% else %}
		<a href="login">Login<a/><br>
	{% endif %}

	<h2>recent code submissions</h2>
	{% if queryset %}
		{% for i in queryset %}
		<br>
		<div style="border-radius: 25px; background: #808080; padding: 20px;  width: 200px; height: 150px; ">

			S. No. -> {{i.id}}<br> 
			Link -> <a href=http://{{ request.META.HTTP_HOST }}/{{i.code_id}}>view submission</a><br>
			Language -> {{i.lang}}<br>
			Status -> {{i.status}}<br>
			Time taken -> {{i.time_used}}<br>
			Submitted {{i.timestamp}} {{i.time_posvalue}} ago<br>

		</div>
		<br>
		{% endfor %}
	{% endif %}
</body>

</html>