{% extends "page/base.html" %}

{% load staticfiles %}

{% block title %}My History{% endblock %}

{% block body %}

<nav class='navbar navbar-default'>
            <div class="navbar-header">
                <a class="navbar-brand" href="\">apnaIDE</a>
            </div>
            <ul class="nav navbar-nav pull-right"> 
            <li><a href="post">Home</a></li> 
            <li><a href="logout">Logout</a></li>
            </ul>
</nav>
  <h3 style='margin-left:20px;'>Recent code submissions</h3>
  <hr>
  {% if queryset %}
    {% for i in queryset %}
    <br>
    <a href=http://{{ request.META.HTTP_HOST }}/{{i.code_id}} style='text-decoration:none;color:initial;'>
            <div class="panel panel-default">
              <div class="panel-body">
                  <span style='font-weight:bold;'>Language:</span> {{i.lang}}<br>
                  <span style='font-weight:bold;'>Status:</span> {{i.status}}<br>
                  <span style='font-weight:bold;'>Time Taken:</span> {{i.time_used}}<br>
                  Submitted <span style='text-decoration:underline'>{{i.timestamp}} {{i.time_posvalue}}</span> ago<br>
              </div>
            </div>
        </a>
    <br>
    {% endfor %}
  {% endif %}

{% endblock %}