{% extends "page/base.html" %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_id %}id='body'{% endblock %}

{% block body %}

<form method="POST" action='post'> {% csrf_token %}
        <nav class='navbar navbar-default'>
            <div class="navbar-header">
                <a class="navbar-brand" href="\">apnaIDE</a>
            </div>
            <ul class="nav navbar-nav pull-right"> 
            
        {% if user.is_authenticated %}
            <li><a>Welcome, <span id="username">{{ user }}</span></a></li>
            <li class="active"><a href="post">Home</a></li>
            <li><a href="mycodes">My Recent Codes</a></li>
            <li><a href="changepassword">Change Password</a></li> 
            <li><a href="logout">Logout</a></li>
        {% else %}
            <li class="active"><a href="post">Home</a></li>
            <li><a href="login">Login</a></li> 
            <li><a href="register">Register</a></li>
        {% endif %}
            </ul>
        </nav>
        
        <center>
            <div id='history'> 
                <a href="history"><code>View All Submissions</code></a>
            </div>
        </center>
        <div id='start_coding'>Start Coding</div>
        <hr>
        <div id="saveAndRetrieve">
            <select name='language' id="lang">
                <option>C</option>
                <option>C++</option>
                <option>C++ 11</option>
                <option>JAVA</option>
                <option>PYTHON</option>
                <option>JAVASCRIPT</option>
                <option>PHP</option>
                <option>HASKELL</option>
                <option>RUBY</option>
                <option>CLOJURE</option>
                <option>C#</option>
                <option>PERL</option>
            </select>
            <select name='theme' id="theme">
                <option>monokai</option>
                <option>terminal</option>
                <option>chrome</option>
                <option>xcode</option>
            </select>
            <input type="radio" name="mode" value="public" {% ifequal mode "public" %}checked{% endifequal %} style="margin-left : 25px;">Public</input>
            <input type="radio" name="mode" value="private" {% ifequal mode "private" %}checked{% endifequal %}>Private</input>
            <span style="float:right;margin-right:2%;font-size:18px"><kbd>Custom Input</kbd></span>
                <input type="checkbox" id="check_input" style='float:right;margin-right:4px'></input>
            <input type='submit' id="submit" class='btn btn-success pull-right' style="margin-right: 1%" value='Compile and Run'></input>
            <button class='btn btn-primary pull-right' type='button' id='downloadCode' style="margin-right: 1%"><span class="glyphicon glyphicon-download-alt"></span>  Download</button>
            <button class='btn btn-primary pull-right' type='button' id='insertTemplate' style="margin-right: 1%">Insert Template</button>
         <!--   <button class='btn btn-warning pull-right' type='button' id='retrieve'>Retrieve Last Saved Code</button><br><br>-->
        </div>
        <!--<center>-->
        <div>
            <div id="code_area"></div>
            <textarea name='input' id='input' placeholder="Enter Input">{{input}}</textarea>
        </div>
        <!--</center>-->
        <textarea name='code' id='hiddentextarea' style="display:none">{{code}}</textarea><br>
        <textarea id='hiddenlang' style="display:none">{{lang_default}}</textarea><br>
        <textarea id='hiddentheme' style="display:none">{{theme}}</textarea><br>
</form>

    <br>
    <hr>
    <div id="status_focus"></div>
    <h4 id='status' style='margin-left:1%; display: none;'>STATUS:</h4>
    <div id='status' style='display:inline;font-size:20px;border-bottom:1px dashed black;'><code>
        {% ifequal status "AC" %} Success {% else %}
        {% ifequal status "CE" %} Compilation Error {% else %}
        {% ifequal status "RE" %} Runtime Error {% else %}
        {% ifequal status "TLE" %} Time Limit Exceeded {% else %}
        {{status}}{% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}
    </code></div>
    <hr>
    <h4 id='output' style='display:none;margin-left:1%;'>OUTPUT</h4>
    <div id='output_focus'>
    <center>    
        <textarea id='outputtextarea' readonly style="display:none">{{output}}</textarea>
    </center>
    </div>

<script src="{{STATIC_URL}}/static/ace/src/ace.js"></script>
<script src="{{STATIC_URL}}/static/jquery-1.11.1.min.js">/</script>
<script src="{{STATIC_URL}}/static/post.js"></script>
{% endblock %}
