{% extends "page/base.html" %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_id %}id='body'{% endblock %}

{% block body %}

<form method="POST" action='post'> {% csrf_token %}
        <nav class='navbar navbar-default'>
            <div class="navbar-header">
                <a class="navbar-brand" href="\">apnaIDE</a>
            </div>
            <ul class="nav navbar-nav pull-right"> 
            
        {% if user.is_authenticated %}
            <li><a>Welcome, <span id="username">{{ user }}</span></a></li>
            <li class="active"><a href="post">Home</a></li>
            <li><a href={% url 'page.views.textpad_display' %}>Textpad</a></li>
            <li><a href="mycodes">My Recent Codes</a></li>
            <li><a href="changepassword">Change Password</a></li> 
            <li><a href="logout">Logout</a></li>
        {% else %}
            <li class="active"><a href="post">Home</a></li>
            <li><a href="login">Login</a></li> 
            <li><a href="register">Register</a></li>
        {% endif %}
            </ul>
        </nav>
        <center>
            <div id='history'> 
                <a href="history"><code>View All Submissions</code></a>
            </div>
        </center>
        <div id='start_coding'>Start Coding</div>
        <hr>
        <div id="saveAndRetrieve">
            <select name='language' id="lang">
                <option>C</option>
                <option>C++</option>
                <option>C++ 11</option>
                <option>JAVA</option>
                <option>PYTHON</option>
                <option>JAVASCRIPT</option>
                <option>PHP</option>
                <option>HASKELL</option>
                <option>RUBY</option>
                <option>CLOJURE</option>
                <option>C#</option>
                <option>PERL</option>
            </select>
            <!--<button class='btn btn-primary pull-right' type='button' id='save'>Save Code</button>
            <button class='btn btn-warning pull-right' type='button' id='retrieve'>Retrieve Last Saved Code</button><br><br>-->
        </div>
        <center>
            <div id="code_area"></div>
        </center>
        <textarea name='code' id='hiddentextarea' style="display:none">{{code}}</textarea><br>
        <textarea id='hiddenlang' style="display:none">{{lang_default}}</textarea><br>
        <center>
            <div id="inputAndSubmit">
                <input type='submit' id="submit" class='btn btn-success pull-left' value='Compile and Run'></input>
            <span style="float:right;margin-right:2%;font-size:18px"><kbd>Custom Input</kbd></span>
                <input type="checkbox" id="check_input" style='float:right;margin-right:4px'></input>
            </div>
            <textarea name='input' id='input' placeholder="Enter Input">{{input}}</textarea><br>
        </center>
    </form>

    <br>
    <hr>
    <h4 id='status' style='margin-left:1%;'>STATUS:</h4>
    <div id='status' style='display:inline;font-size:18px;border-bottom:1px dashed black;'><code>{{status}}</code></div>
    <hr>
    <h4 id='output' style='display:none;margin-left:1%;'>OUTPUT</h4>

    <center>    
        <textarea id='outputtextarea' readonly style="display:none">{{output}}</textarea>
    </center>
<script src="{{STATIC_URL}}/static/ace/src/ace.js"></script>
<script src="{{STATIC_URL}}/static/post.js"></script>

{% endblock %}
