<html>
<head>
	<link rel="stylesheet" type="css" href="{{STATIC_URL}}/static/x.css"/>
	<title>apnaIDE</title>
	<script src="{{STATIC_URL}}/static/ace/src/ace.js"></script>
</head>
<body id='body'>
	<form method="POST"> {% csrf_token %}
		
		{% if user.is_authenticated %}
			<h3>logged in</h3>
			Welcome {{ user }} <br>
			<a href="logout">logout</a><br>
		{% else %}
			<h3> logged out</h3>
			<a href="login">LOGIN</a><br>
			<a href="register">REGISTER</a><br>
		{% endif %}

		<a href="history">see previous submissions</a><br>


		<h4>Code : </h4>
		<div id="code_area" style="height: 400px; width: 700px; overflow: auto">
		</div>
		<textarea name='code' id='hiddentextarea' style="display:none">{{code}}</textarea><br>
		<textarea name='language' id='hiddenlang' style="display:none">{{lang_default}}</textarea><br>
		<input type="checkbox" id="check_input">select to enter input</input><br>
		<textarea name='input' id='input' style="display:none">{{input}}</textarea><br>
		<select name='language' id="lang">
		<option>C</option>
		<option>C++</option>
		<option>C++ 11</option>
		<option>JAVA</option>
		<option>PYTHON</option>
		<option>JAVASCRIPT</option>
		<option>PHP</option>
		<option>HASKELL</option>
		<option>RUBY</option>
		<option>CLOJURE</option>
		<option>C#</option>
		<option>PERL</option>
		</select>
		<br>
		<input type='submit' value='Compile and Run'></input>
	</form>
	<h4 id='status'>STATUS</h4>
	<div id='status'>{{status}}</div>
	<h4>OUTPUT</h4>
	<textarea id='output' readonly rows='10' cols='95'>{{output}}</textarea>
<script src="{{STATIC_URL}}/static/post.js"></script>
</body>
</html>